.HeaderImage h1 {
    color: #ffffff;
    padding-bottom: 10px;
    margin-top: 0;
}

.HeaderImage h3 {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: inherit;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
}